<div id="main-content">
    <section class="kopa-area kopa-area-breadcrumb">
        <div class="container">
            <div class="widget kopa-widget-breadcrumb">
                <div class="widget-content"></div>
            </div>
        </div>
    </section>
    <section class="kopa-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="single-content">
                        <h1 class="single-post-title">Career & job fair has been successfuly held</h1>
                        <div class="entry-meta">
                            <a href="#">By Admin</a>
                            <a href="#">1 januar 2016</a>
                        </div>
                        <div class="single-post-img">
                            <img src="__INDEX__/images/news/11.jpg" alt="">
                            <div class="entry-date style-01">
                                <span>18</span>
                                <p>now</p>
                            </div>
                        </div>
                        <div class="single-content-detail">
                            <div class="kopa-social-links style-04">
                                <ul>
                                    <li>
                                        <span>0</span>
                                        <span>share</span>
                                    </li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                </ul>
                            </div>
                            <div class="right-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore maiqua. It Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis auteo
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut on fugit, sed quia consequuntur
                                    magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                    qui dolor ipsum quia dolor sit amet, consectetur, adipisci velit. sed quia non
                                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                    voluptatem.</p>
                                <div class="kopa-blockquote style-03">
                                    <span class="left"></span>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and <span>scrambled it to</span> make a
                                        type <span>specimen book. It has survived not</span> only five centuries,</p>
                                    <span class="right"></span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore maiqua. It Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis auteo
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. quasi architecto beatae vitae dicta sunt explicabo. <span>Nemo enim ipsam
                                        voluptatem quia voluptas sit aspernatur aut odit aut on fugit, sed quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
                                    Neque porro quisquam est, qui dolor ipsum quia dolor sit amet, consectetur, adipisci
                                    velit. sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                    <span>magnam aliquam quaerat voluptatem.</span></p>
                                <div class="single-gallery">
                                    <h4>Harvard Business School</h4>
                                    <ul class="gallery-img">
                                        <li>
                                            <a href="#"><img src="__INDEX__/images/gallery/8.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="__INDEX__/images/gallery/9.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="__INDEX__/images/gallery/10.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="__INDEX__/images/gallery/11.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore maiqua. It Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis auteo
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. quasi architecto beatae vitae dicta sunt explicabo. <span>Nemo enim ipsam
                                        voluptatem quia voluptas sit aspernatur</span></p>
                                <ul class="list-has-style">
                                    <li>Academic Calendar by School</li>
                                    <li>Admissions and Registrar Contact Information by School</li>
                                    <li>Commencement</li>
                                    <li>DASH</li>
                                    <li>Directions and Parking</li>
                                    <li>Harvard University Police Department</li>
                                </ul>
                                <ul class="kopa-tags">
                                    <li><span>tags :</span></li>
                                    <li><a href="#">DEFEAT</a></li>
                                    <li><a href="#">INTER</a></li>
                                    <li><a href="#">ROBERTO MANCINI</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-author">
                        <div class="thumb">
                            <a href="#"><img src="__INDEX__/images/testimonial/3.jpg" alt=""></a>
                        </div>
                        <div class="content">
                            <h4 class="author-title">
                                <a href="#">Jacquelyn Smith</a>
                                <span>, FORBES STAFF</span>
                            </h4>
                            <p>If it has to do with leadership, jobs, or careers, I'm on it</p>
                            <ul>
                                <li><a href="#" class="fa fa-facebook-square"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                                <li><a href="#" class="fa fa-envelope"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="related-post">
                        <h4>SEE ALSO</h4>
                        <ul class="list-post">
                            <li>
                                <p>
                                    <span class="fa fa-caret-right"></span>
                                    Lorem Ipsum is simply dummy text of the printing</p>
                                <a href="#">view</a>
                            </li>
                            <li>

                                <p><span class="fa fa-caret-right"></span>It has survived not only five centuries</p>
                                <a href="#">view</a>
                            </li>
                            <li>
                                <p><span class="fa fa-caret-right"></span>
                                    It was popularised in the 1960s with the release of Letraset sheets </p>
                                <a href="#">view</a>
                            </li>
                            <li>
                                <p><span class="fa fa-caret-right"></span>
                                    Content here, content here', making it look like readable English</p>
                                <a href="#">view</a>
                            </li>
                            <li>
                                <p><span class="fa fa-caret-right"></span>
                                    There are many variations of passages of Lorem Ipsum available</p>
                                <a href="#">view</a>
                            </li>
                        </ul>
                    </div>
                    <section class="kopa-commnent">
                        <h3 class="comments-title">COMMENTS (8)</h3>
                        <div class="single-comment-list">
                            <ol class="comments-list">
                                <li class="comment">
                                    <article>
                                        <div class="comment-avatar ">
                                            <img alt="" src="__INDEX__/images/testimonial/3.jpg">
                                        </div>
                                        <div class="comment-content">
                                            <header>
                                                <div class="entry-meta ">
                                                    <p class="entry-author">
                                                        <a href="#">Jacquelyn Smith</a>
                                                    </p>
                                                    <p class="entry-date">
                                                    <div>December 08,2015</div>

                                                </div>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore maiqua. It Ut enim ad minim
                                                veniam,</p>
                                            <div class="comment-actions">
                                                <a class="comment-edit-link" href="#">Edit</a>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                            </div>
                                        </div>
                                    </article>
                                    <ol class="children">
                                        <li class="comment ">
                                            <article>
                                                <div class="comment-avatar ">
                                                    <img alt="" src="__INDEX__/images/testimonial/4.jpg">
                                                </div>
                                                <div class="comment-content">
                                                    <header>
                                                        <div class="entry-meta ">
                                                            <p class="entry-author">
                                                                <a href="#">Jacquelyn Smith</a>
                                                            </p>
                                                            <p class="entry-date">
                                                            <div>December 08,2015</div>

                                                        </div>
                                                    </header>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod tempor incididunt ut labore et dolore maiqua. It Ut enim
                                                        ad minim veniam,</p>
                                                    <div class="comment-actions">
                                                        <a class="comment-edit-link" href="#">Edit</a>
                                                        <a class="comment-reply-link" href="#">Reply</a>
                                                    </div>
                                                </div>
                                            </article>
                                            <ol class="children">
                                                <li class="comment ">
                                                    <article>
                                                        <div class="comment-avatar ">
                                                            <img alt="" src="__INDEX__/images/testimonial/5.jpg">
                                                        </div>
                                                        <div class="comment-content">
                                                            <header>
                                                                <div class="entry-meta ">
                                                                    <p class="entry-author">
                                                                        <a href="#">Jacquelyn Smith</a>
                                                                    </p>
                                                                    <p class="entry-date">
                                                                    <div>December 08,2015</div>

                                                                </div>
                                                            </header>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                maiqua. It Ut enim ad minim veniam,</p>
                                                            <div class="comment-actions">
                                                                <a class="comment-edit-link" href="#">Edit</a>
                                                                <a class="comment-reply-link" href="#">Reply</a>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </li><!-- #comment-## -->
                                            </ol><!-- .children -->
                                        </li><!-- #comment-## -->
                                    </ol><!-- .children -->
                                </li><!-- #comment-## -->
                                <li class="comment">
                                    <article>
                                        <div class="comment-avatar ">
                                            <img alt="" src="__INDEX__/images/testimonial/3.jpg">
                                        </div>
                                        <div class="comment-content">
                                            <header>
                                                <div class="entry-meta ">
                                                    <p class="entry-author">
                                                        <a href="#">Jacquelyn Smith</a>
                                                    </p>
                                                    <p class="entry-date">
                                                    <div>December 08,2015</div>

                                                </div>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore maiqua. It Ut enim ad minim
                                                veniam,</p>
                                            <div class="comment-actions">
                                                <a class="comment-edit-link" href="#">Edit</a>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                            </div>
                                        </div>
                                    </article>
                                </li><!-- #comment-## -->
                            </ol>
                        </div>
                        <div class="single-comment-form">
                            <div class="comment-form-content">
                                <div class="kopa-form-box">
                                    <div class="comment-respond">
                                        <h3 class="comment-reply-title">
                                            Leave a comment &nbsp;
                                            <small><a href="#">Cancel reply</a></small>
                                        </h3>
                                        <form method="post" class="comment-form  novalidate" novalidate="">
                                            <p class="input-block">
                                                <input type="text" id="comment_name" name="author"
                                                    placeholder="Your Name *">
                                            </p>
                                            <p class="input-block">
                                                <input type="text" id="comment_email" name="email"
                                                    placeholder="Email *">
                                            </p>
                                            <p class="input-block">
                                                <input type="text" name="website" placeholder="Website URL *">
                                            </p>

                                            <p class="textarea-block">
                                                <textarea aria-required="true" name="comment" rows="10"
                                                    placeholder="Your Message..."></textarea>
                                            </p>
                                            <p class="post-comment input-block">
                                                <button id="submit-comment" name="submit" type="submit"
                                                    class="button-01">Post Comment</button>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        <section class="widget kopa-widget-banner">
                            <div class="widget-content module-banner-02">
                                <a href="#">
                                    <img src="__INDEX__/images/banner/1.jpg" alt="">
                                </a>
                            </div>
                        </section>
                        <section class="widget widget_recent_entries">
                            <h2 class="widget-title">Latest Post</h2>
                            <ul>
                                <li>
                                    <article class="entry-item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="__INDEX__/images/news/12.jpg" alt=""></a>
                                            </div>
                                            <div class="entry-content">
                                                <h4 class="entry-title">
                                                    <a href="#">Basic PHP Framework Laravel & Django</a>
                                                </h4>
                                                <a href="#">by Johnathon Doe</a>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="entry-item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="__INDEX__/images/news/13.jpg" alt=""></a>
                                            </div>
                                            <div class="entry-content">
                                                <h4 class="entry-title">
                                                    <a href="#">Intermidiate MS Exel & Word Tools</a>
                                                </h4>
                                                <a href="#">by Ashiful Pappu</a>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="entry-item">
                                        <div class="entry-item">
                                            <div class="entry-thumb">
                                                <a href="#"><img src="__INDEX__/images/news/14.jpg" alt=""></a>
                                            </div>
                                            <div class="entry-content">
                                                <h4 class="entry-title">
                                                    <a href="#">Intro to the Photoshop Masking & Crop</a>
                                                </h4>
                                                <a href="#">by Sara Watson</a>
                                            </div>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                        </section>
                        <section class="widget kopa-widget-testimonials">
                            <h2 class="widget-title">TESTIMONIALS</h2>
                            <div class="widget-content module-testimonials-05 js-carousel">
                                <div class="item-testi">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="__INDEX__/images/testimonial/3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel
                                            lacus pretium rhoncus a quis</p>
                                        <a href="#">Ashiful Pappu</a>
                                    </div>
                                </div>
                                <div class="item-testi">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="__INDEX__/images/testimonial/4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel
                                            lacus pretium rhoncus a quis</p>
                                        <a href="#">Ashiful Pappu</a>
                                    </div>
                                </div>
                                <div class="item-testi">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="__INDEX__/images/testimonial/3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel
                                            lacus pretium rhoncus a quis</p>
                                        <a href="#">Ashiful Pappu</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="widget widget_categories">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                <li class="cat-item">
                                    <a href="#">Biochemistry</a> (21)
                                </li>
                                <li class="cat-item">
                                    <a href="#">Computer Science</a> (57)
                                </li>
                                <li class="cat-item">
                                    <a href="#">Food Nutritions</a> (13)
                                </li>
                                <li class="cat-item">
                                    <a href="#">Fashion Technology</a> (48)
                                </li>
                                <li class="cat-item">
                                    <a href="#">Business Studies</a> (91)
                                </li>
                            </ul>
                        </section>
                        <section class="widget kopa-widget-social">
                            <h2 class="widget-title">Share This Course</h2>
                            <ul class="clearfix">
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-dribbble"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                            </ul>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </section>

</div>