<div id="main-content">
    <section class="kopa-area kopa-area-breadcrumb">
        <div class="container">
            <div class="widget kopa-widget-breadcrumb">
                <div class="widget-content">
                    <h3 class="breadcrumb-title">Blog</h3>
                    <div class="breadcrumb-nav">
                        <span>
                            <a href="#">
                                <span>Home</span>
                            </a>
                        </span>
                        <span class="current-page">Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kopa-area kopa-area-18">
        <div class="container">
            <div class="widget kopa-widget-news">
                <div class="widget-content module-news-04">
                    <div class="list-blog">
                        <article class="entry-item">
                            <div class="entry-thumb">
                                <a href="{:url('index.blog.details')}">
                                    <img src="__INDEX__/images/news/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="entry-content">
                                <div class="entry-date style-01">
                                    <span>18</span>
                                    <p>now</p>
                                </div>
                                <h4 class="entry-title">
                                    <a href="#">Career &amp; job fair has been successfuly held in our paathshaala
                                        Campus</a>
                                </h4>
                                <div class="entry-meta">
                                    <a href="#">by Admin</a>
                                    <a href="#">in Campus News</a>
                                    <a href="#">@07:30pm, 20 Nov’16</a>
                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodiu tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim iam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea co consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore gat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.</p>
                            </div>
                        </article>
                        <article class="entry-item style-01 style-video">
                            <div class="entry-thumb">
                                <a href="#">
                                    <img src="__INDEX__/images/news/2.jpg" alt="">
                                    <span class="fa fa-play"></span>
                                </a>
                            </div>

                            <div class="entry-content">
                                <div class="entry-date style-01">
                                    <span>18</span>
                                    <p>now</p>
                                </div>
                                <h4 class="entry-title">
                                    <a href="#">Career &amp; job fair has been successfuly held in our paathshaala
                                        Campus</a>
                                </h4>
                                <div class="entry-meta">
                                    <a href="#">by Admin</a>
                                    <a href="#">in Campus News</a>
                                    <a href="#">@07:30pm, 20 Nov’16</a>
                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodiu tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim iam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea co consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore gat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.</p>
                            </div>
                        </article>
                        <article class="entry-item style-gallery">
                            <div class="entry-thumb">
                                <a href="#">
                                    <img src="__INDEX__/images/news/1.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="__INDEX__/images/news/4.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="__INDEX__/images/news/5.jpg" alt="">
                                </a>
                            </div>
                            <div class="entry-content">
                                <div class="entry-date style-01">
                                    <span>18</span>
                                    <p>now</p>
                                </div>
                                <h4 class="entry-title">
                                    <a href="#">Career &amp; job fair has been successfuly held in our paathshaala
                                        Campus</a>
                                </h4>
                                <div class="entry-meta">
                                    <a href="#">by Admin</a>
                                    <a href="#">in Campus News</a>
                                    <a href="#">@07:30pm, 20 Nov’16</a>
                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodiu tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim iam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea co consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore gat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.</p>
                            </div>
                        </article>
                        <article class="entry-item style-01">
                            <div class="entry-thumb">
                                <a href="#">
                                    <img src="__INDEX__/images/news/5.jpg" alt="">
                                </a>
                            </div>

                            <div class="entry-content">
                                <div class="entry-date style-01">
                                    <span>18</span>
                                    <p>now</p>
                                </div>
                                <h4 class="entry-title">
                                    <a href="#">Career &amp; job fair has been successfuly held in our paathshaala
                                        Campus</a>
                                </h4>
                                <div class="entry-meta">
                                    <a href="#">by Admin</a>
                                    <a href="#">in Campus News</a>
                                    <a href="#">@07:30pm, 20 Nov’16</a>
                                </div>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodiu tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim iam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea co consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore gat nulla pariatur.
                                    Excepteur sint occaecat cupidatat.</p>
                            </div>
                        </article>
                    </div>
                    <div class="kopa-pagination style-02">
                        <nav class="navigation pagination">
                            <div class="nav-links">
                                <a class="next page-numbers" href="#"><i class="fa fa-angle-left"></i></a>
                                <a class="page-numbers" href="#">1</a>
                                <span class="page-numbers current">2</span>
                                <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>