<div id="main-content">
    <section class="kopa-area kopa-area-breadcrumb">
        <div class="container">
            <div class="widget kopa-widget-breadcrumb">
                <div class="widget-content"></div>
            </div>
        </div>
    </section>
    <section class="kopa-area">
        <div class="container">
            <div class="widget kopa-widget-features">
                <div class="widget-content module-features-02">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <img src="__INDEX__/images/logo/logo1.png" alt="">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="diy-body">
                                    <div class="diy-widget-body">
                                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                            <ul class="layui-tab-title diy-tab-title">
                                                <li class="layui-this col-md-6 col-sm-6 col-xs-12">账号密码登录</li>
                                                <li class="col-md-6 col-sm-6 col-xs-12" onclick="getQrcode()">微信扫码登录
                                                </li>
                                            </ul>
                                            <div class="layui-tab-content">
                                                <div class="layui-tab-item layui-show">
                                                    <form id="form" class="layui-form" action="">

                                                        <!--隐藏域-->
                                                        <input type="hidden" name="type" value="0">

                                                        <div class="layui-form-item">
                                                            <div>
                                                                <input type="text" name="username" required
                                                                    placeholder="账号/手机号/邮箱" autocomplete="off"
                                                                    class="layui-input">
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <div>
                                                                <input type="password" name="password" placeholder="密码"
                                                                    required autocomplete="off" class="layui-input">
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <div class="diy-layui-input-block">
                                                                <a href="#">忘记密码?</a>
                                                            </div>
                                                        </div>
                                                        <div class="layui-form-item">
                                                            <button type="button"
                                                                class="layui-btn layui-btn-fluid layui-btn-radius"
                                                                onclick="login()">登录</button>
                                                        </div>
                                                    </form>
                                                    <!-- <hr class="layui-bg-blue"> -->
                                                    <div class="layui-row diy-layui-row">
                                                        <div class="layui-col-md12">
                                                            <a href="">
                                                                免费注册
                                                                <i class="fa fa-angle-double-right"
                                                                    aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-tab-item">
                                                    <div class="qrcode">
                                                        <!-- <img src="#" /> -->
                                                    </div>
                                                    <div class="layui-row">
                                                        <div class="layui-col-md12">
                                                            <span class="diy-qrcode-note">
                                                                <p>微信扫码登录</p>
                                                                <p>如果未注册将主动生成新用户</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

</div>

<script>
    login = () => {
        post('login', $('#form').serialize(), (res) => {

            layer.msg(res.data.message)
            if (res.code) return;

            localStorage.setItem('index_token', res.data.list.token)

            window.location.href = "{:url('index/index')}";

        });
    }
    getQrcode = () => {
        get('qrcodeLogin', {}, res => {
            if (res.code) return;
            $('.qrcode').html('<img src="' + res.data.img + '"/>');
        })
    }
</script>