<div id="main-content">
    <section class="kopa-area kopa-area-breadcrumb">
        <div class="container">
            <div class="widget kopa-widget-breadcrumb">
                <div class="widget-content">
                    <h3 class="breadcrumb-title">About us</h3>
                    <div class="breadcrumb-nav">
                        <span>
                            <a href="#">
                                <span>Home</span>
                            </a>
                        </span>
                        <span class="current-page">About us</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kopa-area">
        <div class="container">
            <div class="widget kopa-widget-course_info">
                <div class="widget-content module-course_info-02">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#t1" aria-controls="t1" role="tab" data-toggle="tab">
                                        <i class="fa fa-user-plus"></i>
                                        ABOUT UNIVERSITY
                                    </a>
                                </li>
                                <li>
                                    <a href="#t2" aria-controls="t2" role="tab" data-toggle="tab">
                                        About our school
                                    </a>
                                </li>
                                <li>
                                    <a href="#t3" aria-controls="t3" role="tab" data-toggle="tab">
                                        Meet our teachers
                                    </a>
                                </li>
                                <li>
                                    <a href="#t4" aria-controls="t4" role="tab" data-toggle="tab">
                                        Transport
                                    </a>
                                </li>
                                <li>
                                    <a href="#t5" aria-controls="t5" role="tab" data-toggle="tab">
                                        Athletics
                                    </a>
                                </li>
                                <li>
                                    <a href="#t6" aria-controls="t6" role="tab" data-toggle="tab">
                                        Cafeteria
                                    </a>
                                </li>
                                <li>
                                    <a href="#t7" aria-controls="t7" role="tab" data-toggle="tab">
                                        Alumni
                                    </a>
                                </li>
                                <li>
                                    <a href="#t8" aria-controls="t8" role="tab" data-toggle="tab">
                                        Cafeteria
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="t1">
                                    <div class="course-author">
                                        <div class="thumb">
                                            <img src="__INDEX__/images/testimonial/6.jpg" alt="">
                                        </div>
                                        <div class="content">
                                            <h4>Marc hemeon</h4>
                                            <span>Creator of offscreen magazine</span>
                                            <div class="text">
                                                <i class="fa fa-quote-left"></i>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book. It has survived not
                                                    only five centuries, but also the leap into electronic typesetting,
                                                    remaining essentially unchanged. It was popularised in the 1960s
                                                    with the release of Letraset sheets containing Lorem Ipsum passages,
                                                    and more recently with desktop publishing software like.</p>
                                                <p>It is a long established fact that a reader will be distracted by the
                                                    readable content of a page when looking at its layout. The point of
                                                    using .</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="t2">

                                </div>
                                <div class="tab-pane fade" id="t3">

                                </div>
                                <div class="tab-pane fade" id="t4">

                                </div>
                                <div class="tab-pane fade" id="t5">

                                </div>
                                <div class="tab-pane fade" id="t6">

                                </div>
                                <div class="tab-pane fade" id="t7">

                                </div>
                                <div class="tab-pane fade" id="t8">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kopa-area kopa-area-19 white-text-style">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="kopa-accordion style-01">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="ti-plus"></i>
                                            <i class="ti-minus"></i>
                                            Internation Students
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Lorem Ipsum is simply dummy text</li>
                                            <li>It is a long established</li>
                                            <li>Letraset sheets containing</li>
                                            <li>There are many variations of passages</li>
                                            <li>All the Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <i class="ti-plus"></i>
                                            <i class="ti-minus"></i>
                                            Internation Students
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Lorem Ipsum is simply dummy text</li>
                                            <li>It is a long established</li>
                                            <li>Letraset sheets containing</li>
                                            <li>There are many variations of passages</li>
                                            <li>All the Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <i class="ti-plus"></i>
                                            <i class="ti-minus"></i>
                                            Internation Students
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Lorem Ipsum is simply dummy text</li>
                                            <li>It is a long established</li>
                                            <li>Letraset sheets containing</li>
                                            <li>There are many variations of passages</li>
                                            <li>All the Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <i class="ti-plus"></i>
                                            <i class="ti-minus"></i>
                                            Internation Students
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Lorem Ipsum is simply dummy text</li>
                                            <li>It is a long established</li>
                                            <li>Letraset sheets containing</li>
                                            <li>There are many variations of passages</li>
                                            <li>All the Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <i class="ti-plus"></i>
                                            <i class="ti-minus"></i>
                                            Internation Students
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Lorem Ipsum is simply dummy text</li>
                                            <li>It is a long established</li>
                                            <li>Letraset sheets containing</li>
                                            <li>There are many variations of passages</li>
                                            <li>All the Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="widget kopa-widget-mission">
                        <h3 class="widget-title style-05">Mission</h3>
                        <div class="widget-content module-mission-01">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                                need to be sure there isn't anything embarrassing hidden in the middle of text. All the
                                Lorem Ipsum generators</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Ut enim ad minim veniam, quis nostu to the end quis nostu to the end.
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Nisi ut aliquip ex ea commodo consequat. Quis nostu to the end
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Duis aute iru dolor in reprehenderit edng otui. Ex ea commodo cons.
                                </li>
                            </ul>
                            <div class="kopa-gallery-slider">
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/12.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/13.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/14.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/15.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/12.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/13.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/14.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img src="__INDEX__/images/gallery/15.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kopa-area">
        <div class="container">
            <div class="widget kopa-widget-certifications">
                <header class="widget-header style-01">
                    <img src="img/icon/icon-header-3.png" alt="">
                    <h3 class="widget-title">Certifications</h3>
                    <h4>Lorem Ipsum is simply dummy text of the printing</h4>
                </header>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="#">
                                <img src="__INDEX__/images/certifications/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="#"><img src="__INDEX__/images/certifications/2.jpg" alt=""></a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <a href="#"><img src="__INDEX__/images/certifications/3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>