<div id="main-content">
    <section class="kopa-area kopa-area-breadcrumb">
        <div class="container">
            <div class="widget kopa-widget-breadcrumb">
                <div class="widget-content">
                    <h3 class="breadcrumb-title">Introduction to programming</h3>
                    <div class="breadcrumb-nav">
                        <span>
                            <a href="#">
                                <span>Home</span>
                            </a>
                        </span>
                        <span class="current-page">Introduction to programming</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kopa-area">
        <div class="container">
            <div class="shop-content">
                <div class=" product has-post-thumbnail">
                    <span class="onsale">Sale!</span>
                    <div class="images js-shop-slider">

                        <a href="#" class="woocommerce-main-image">
                            <img src="__INDEX__/images/shop/7.jpg" alt="poster_2_up">
                        </a>
                        <a href="#" class="woocommerce-main-image">
                            <img src="__INDEX__/images/shop/7.jpg" alt="poster_2_up">
                        </a>

                        <a href="#" class="woocommerce-main-image">
                            <img src="__INDEX__/images/shop/7.jpg" alt="poster_2_up">
                        </a>
                    </div>
                    <div class="summary entry-summary">
                        <h1 class="product_title">Introduction to Programming </h1>
                        <div class="created">by
                            <a href="#">Ashiful Pappu</a>
                            <a href="#">Senior Trainer</a>
                        </div>
                        <div>
                            <p class="price">
                                <del>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>400
                                    </span>
                                </del>
                                <ins>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>319
                                    </span>
                                </ins>
                            </p>
                        </div>
                        <div class="woocommerce-product-rating">
                            <div class="star-rating" title="Rated 4 out of 5">
                                <span>
                                    <strong class="rating">4</strong> out of
                                    <span>5</span>
                                    based on
                                    <span class="rating">4</span> customer ratings
                                </span>
                            </div>
                            <a href="#reviews" class="woocommerce-review-link" rel="nofollow">
                                (
                                <span class="count">3</span>
                                customer reviews)
                            </a>

                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante ex, fermentum vel
                                libero eget interdum too semper libero. Curabitur egestas, arcu id tempor convallis ras
                                dignissim, diam vitae ornare molestie, ligula an magna imperdiet velit, volutpat tortori
                                felis sit amet ligula. Sed in placerat justo. sed, luctus mattis urna. Aliquam elementum
                                turpis vitae mi porttitor faucibus. Pellentesque varius sodales congue.</p>
                        </div>
                        <form class="cart" method="post">
                            <div class="quantity">
                                <span class="ti-plus"></span>
                                <input type="number" min="1" name="quantity" value="1" title="Qty"
                                    class="input-text qty text">
                                <span class="ti-minus"></span>
                            </div>
                            <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
                        </form>
                        <div class="product_meta">
                            <span class="sku_wrapper">SKU:
                                <span class="sku">1</span>
                            </span>
                            <span class="posted_in">Categories:
                                <span>
                                    <a href="#" rel="tag">Bag</a>,
                                    <a href="#" rel="tag">Music</a>,
                                    <a href="#" rel="tag">Graphic</a>
                                </span>
                            </span>
                            <span class="tagged_as">Tags:
                                <span>
                                    <a href="#" rel="tag">handbag</a>,
                                    <a href="#" rel="tag">leather</a>,
                                    <a href="#" rel="tag">travel</a>
                                </span>
                            </span>
                        </div>
                        <div class="kopa-social-links style-05">
                            <ul class="clearfix">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-dribbble"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- .summary -->
                    <div class="woocommerce-tabs wc-tabs-wrapper">
                        <ul class="tabs wc-tabs">
                            <li class="description_tab active">
                                <a href="#tab-description">Description</a>
                            </li>
                            <li class="reviews_tab">
                                <a href="#tab-reviews">Reviews (1)</a>
                            </li>
                        </ul>
                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description entry-content panel wc-tab"
                            id="tab-description">
                            <h2>Product Description</h2>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
                                placerat eleifend leo.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                                ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                                Mauris placerat eleifend leo.Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas.</p>
                        </div>
                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab"
                            id="tab-reviews">
                            <div id="reviews" class="woocommerce-Reviews">
                                <div id="comments">
                                    <h2 class="woocommerce-Reviews-title">1 reviews for <span>Introduction to
                                            Programming</span></h2>
                                    <ol class="commentlist">
                                        <li class="comment">
                                            <div class="comment_container">
                                                <img alt="" src="__INDEX__/images/shop/8.jpg" class="avatar">
                                                <div class="comment-text">
                                                    <div class="star-rating" title="Rated 4 out of 5">
                                                        <span>
                                                            <strong>4</strong> out of 5
                                                        </span>
                                                    </div>
                                                    <p class="meta">
                                                        <strong>Cobus Bester</strong> –
                                                        <span>by <a href="#">Ashiful Pappu</a></span>


                                                    <div class="description">
                                                        <p>Pellentesque habitant morbi tristique senectus et netus et
                                                            malesuada fames ac turpis egestas.</p>
                                                    </div>
                                                    <div class="time">
                                                        <a href="#">Aug 15, 2015 - 04:27pm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- #comment-## -->
                                    </ol>
                                </div>
                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <div class="comment-respond">
                                            <h3 class="comment-reply-title">Add a review <small><a rel="nofollow"
                                                        href="#">Cancel reply</a></small>
                                            </h3>
                                            <form method="post" id="commentform" class="comment-form"
                                                novalidate="novalidate">
                                                <p class="comment-notes">
                                                    <span id="email-notes">Your email address will not be
                                                        published.</span> Required fields are marked <span
                                                        class="required">*</span>
                                                </p>
                                                <p class="comment-form-author">
                                                    <label for="author">Name <span class="required">*</span></label>
                                                    <input id="author" name="author" type="text">
                                                </p>
                                                <p class="comment-form-email">
                                                    <label for="email">Email <span class="required">*</span></label>
                                                    <input id="email" name="email" type="email">
                                                </p>
                                                <div class="comment-form-rating">
                                                    <label>Your Rating :</label>
                                                    <p class="stars">
                                                        <span>
                                                            <a class="star-1" href="#">1</a>
                                                            <a class="star-2" href="#">2</a>
                                                            <a class="star-3" href="#">3</a>
                                                            <a class="star-4" href="#">4</a>
                                                            <a class="star-5" href="#">5</a>
                                                        </span>
                                                    </p>
                                                </div>
                                                <p class="comment-form-comment">
                                                    <label for="comment">Your Review <span
                                                            class="required">*</span></label>
                                                    <textarea id="comment" name="comment" cols="45" rows="8"
                                                        aria-required="true" required=""></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <input name="submit" type="submit" id="submit" class="submit"
                                                        value="Submit">
                                                </p>
                                            </form>
                                        </div><!-- #respond -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="kopa-area kopa-area-05">
        <div class="container">
            <header class="widget-header style-01">
                <img src="img/icon/icon-header-3.png" alt="">
                <h3 class="widget-title">RELATED PRODUCTS</h3>
                <h4>Lorem Ipsum is simply dummy text</h4>
            </header>
            <div class="related products">
                <h2>Related Products</h2>
                <ul class="products">
                    <li class="product has-post-thumbnail">
                        <a href="#" class="woocommerce-LoopProduct-link">
                            <span class="onsale">Sale</span>
                            <img src="__INDEX__/images/shop/1.jpg" alt="">
                            <span class="button add_to_cart_button ajax_add_to_cart">buy now</span>
                        </a>
                        <div class="content">
                            <h3><a href="#">Introduction to Programming</a></h3>
                            <p>
                                By
                                <a href="#">Ashiful Pappu</a>
                                <a href="#">Senior Trainer</a>
                            </p>
                            <div class="star-rating" title="Rated 4 out of 5">
                                <span>
                                    <strong class="rating">4</strong> out of 5
                                </span>
                            </div>
                            <span class="price">
                                <del>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                        400
                                    </span>
                                </del>
                                <ins>
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>319
                                    </span>
                                </ins>
                            </span>

                        </div>
                    </li>
                    <li class="product has-post-thumbnail">
                        <a href="#" class="woocommerce-LoopProduct-link">
                            <img src="__INDEX__/images/shop/2.jpg" alt="">
                            <span class="button add_to_cart_button ajax_add_to_cart">buy now</span>
                        </a>
                        <div class="content">
                            <h3><a href="#">Introduction to Programming</a></h3>
                            <p>
                                By
                                <a href="#">Ashiful Pappu</a>
                                <a href="#">Senior Trainer</a>
                            </p>
                            <div class="star-rating" title="Rated 4 out of 5">
                                <span>
                                    <strong class="rating">4</strong> out of 5
                                </span>
                            </div>
                            <span class="price"><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>219</span></span>

                        </div>
                    </li>
                    <li class="product has-post-thumbnail">
                        <a href="#" class="woocommerce-LoopProduct-link">
                            <img src="__INDEX__/images/shop/3.jpg" alt="">
                            <span class="button add_to_cart_button ajax_add_to_cart">buy now</span>
                        </a>
                        <div class="content">
                            <h3><a href="#">Introduction to Programming</a></h3>
                            <p>
                                By
                                <a href="#">Ashiful Pappu</a>
                                <a href="#">Senior Trainer</a>
                            </p>
                            <div class="star-rating" title="Rated 4 out of 5">
                                <span>
                                    <strong class="rating">4</strong> out of 5
                                </span>
                            </div>
                            <span class="price"><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>219</span></span>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>