<footer class="kopa-footer style-01">
    <div class="container">
        <p>Copyright &copy; 2020. Belongs To The Author Of Astrology.</p>
    </div>
</footer>
</div>

<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/slick.min.js"></script>
<script src="__INDEX__/js/jquery.sliderPro.min.js"></script>
<script src="__INDEX__/js/imagesloaded.pkgd.min.js"></script>
<script src="__INDEX__/js/jquery.validate.min.js"></script>
<script src="__INDEX__/js/owl.carousel.min.js"></script>
<script src="__INDEX__/js/jquery.waypoints.min.js"></script>
<script src="__INDEX__/js/jquery.counterup.min.js"></script>
<script src="__INDEX__/js/jquery.mCustomScrollbar.js"></script>
<script src="__INDEX__/js/viewportchecker.min.js"></script>
<script src="__INDEX__/js/custom.js"></script>

<!--引入layer.js-->
<script src="__INDEX__/layui/layui.all.js"></script>

</body>

</html>