<footer class="kopa-footer style-01">
    <div class="container">
        <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank"
                href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</footer>
</div>

<script src="__INDEX__/js/jquery-2.2.4.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/slick.min.js"></script>
<script src="__INDEX__/js/jquery.sliderPro.min.js"></script>
<script src="__INDEX__/js/imagesloaded.pkgd.min.js"></script>
<script src="__INDEX__/js/jquery.validate.min.js"></script>
<script src="__INDEX__/js/owl.carousel.min.js"></script>
<script src="__INDEX__/js/jquery.waypoints.min.js"></script>
<script src="__INDEX__/js/jquery.counterup.min.js"></script>
<script src="__INDEX__/js/jquery.mCustomScrollbar.js"></script>
<script src="__INDEX__/js/viewportchecker.min.js"></script>
<script src="__INDEX__/js/custom.js"></script>
</body>

</html>