<div class="bottom-sidebar style-01 white-text-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-push-4">
                <div class="widget kopa-widget-logof">
                    <div class="widget-content">
                        <a href="#"><img src="__INDEX__/img/icon/logo-2.png" alt=""></a>
                        <div class="kopa-social-links style-02">
                            <ul class="clearfix">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-pull-4">
                <div class="widget kopa-widget-tweets">
                    <h3 class="widget-title style-02">RECENT TWEETS</h3>
                    <div class="widget-content module-tweets-01">
                        <ul>
                            <li>
                                <i class="fa fa-twitter"></i>
                                <div class="tweets-detail">
                                    <a href="#">
                                        <span>@ASCETICDESIGNERS,</span>
                                        Next Jobs Fair Will Be Held in Our Campus.
                                    </a>
                                    <span>5 Mins Ago</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                                <div class="tweets-detail">
                                    <a href="#">
                                        <span>@ASHIFULPAPPU,</span>
                                        Build Your Career at Our Paathshaala Faculties.
                                    </a>
                                    <span>25 Mins Ago</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="widget kopa-widget-useful">
                    <h3 class="widget-title style-03">useful links</h3>
                    <div class="widget-content">
                        <ul>
                            <li><a href="#">All Our Course</a></li>
                            <li><a href="#">Event Calendar</a></li>
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Career at Paathshaala</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="kopa-footer style-01">
    <div class="container">
        <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank"
                href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</footer>
</div>

<script src="__INDEX__/js/jquery-2.2.4.min.js"></script>
<script src="__INDEX__/js/bootstrap.min.js"></script>
<script src="__INDEX__/js/slick.min.js"></script>
<script src="__INDEX__/js/jquery.sliderPro.min.js"></script>
<script src="__INDEX__/js/imagesloaded.pkgd.min.js"></script>
<script src="__INDEX__/js/jquery.validate.min.js"></script>
<script src="__INDEX__/js/owl.carousel.min.js"></script>
<script src="__INDEX__/js/jquery.waypoints.min.js"></script>
<script src="__INDEX__/js/jquery.counterup.min.js"></script>
<script src="__INDEX__/js/jquery.mCustomScrollbar.js"></script>
<script src="__INDEX__/js/viewportchecker.min.js"></script>
<script src="__INDEX__/js/custom.js"></script>

</body>

</html>




