<body class="woocommerce woocommerce-page">
    <div id="main-container">
        <header class="kopa-header-01">
            <div class="container">
                <div class="top-header">
                    <div class="kopa-login">
                        <a href="#">
                            <i class="fa fa-sign-in"></i>
                            login
                        </a>
                    </div>
                    <div class="kopa-register">
                        <a href="#">
                            <i class="fa fa-unlock"></i>
                            register
                        </a>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                <div class="bottom-header style-01">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h1 class="kopa-logo">
                                <a href="{:url('index')}">
                                    <img src="__INDEX__/img/icon/logo.png" alt="">
                                </a>
                            </h1>
                        </div>
                        <div class="pull-right">
                            <nav class="kopa-main-menu style-01">
                                <ul>
                                    {foreach $spanner as $key=>$value}
                                    <li><a href="{:url($value.url)}">{$value.en}</a></li>
                                    {/foreach}
                                </ul>
                            </nav>
                            <div class="kopa-search">
                                <button type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input type="text" placeholder="Search..." class="">
                            </div>
                            <div class="kopa-hamburger-menu">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="kopa-menu-scroll">
            <div class="kopa-close-menu-scroll">
                <span>astrology x</span>
            </div>
            <div class="top-menu-scroll">
                <div class="kopa-social-links style-03">
                    <ul class="clearfix">
                        {foreach $spanner as $key=>$value}
                        <li><a href="{:url($value.url)}" class="iconfont {$value.icon}"></a></li>
                        {/foreach}
                    </ul>
                </div>
                <ul class="kopa-menu-click">
                    {foreach $spanner as $key=>$value}
                    <li><a href="{:url($value.url)}">{$value.en}</a></li>
                    {/foreach}
                </ul>
            </div>
            <form>
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Search courses">
            </form>
            <div class="widget kopa-widget-banner">
                <div class="widget-content module-banner-01">
                    <ul class="kopa-banner">
                        <li>
                            <span>100%</span>
                            <div>
                                <h4>MONEY BACK GUARANTEE</h4>
                                <p>No hassles, no question asked!</p>
                            </div>
                        </li>
                        <li>
                            <h4>EARN UP TO <span>35%</span></h4>
                            <p>Sign up our affiliate program</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>